<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title> proyecto_idygs81</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/LayoutDashboard.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.33.1/sweetalert2.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.33.1/sweetalert2.js"></script>

</head>
<body>
    <div class="wrapper">
        <!---sidebar-->
        <div class="sidebar">
            <div class="sidebar_logo">
                <img src="img/favicon.png" alt="codingscape">
                <a href="#">E-commerce</a>
            </div>
            <ul class="sidebar_items">
                <li class="sidebar_items_list">
                    <a href="#" class="sidebar_nav_item">
                        <i class='bx bx-home-alt-2'></i>
                        <p>Home </p>
                    </a>
                </li>
                <li class="sidebar_items_list_info">
                    <span>Inventario</span>
                </li>
                <li class="sidebar_items_list">
                    <a asp-controller="Categorias" asp-action="Index" class="sidebar_nav_item">
                        <i class='bx bxs-dashboard'></i>
                        <p>Categorias</p>
                    </a>
                </li>
                <li class="sidebar_items_list">
                    <a asp-controller="Productos" asp-action="Index" class="sidebar_nav_item">
                        <i class='bx bxs-calendar'></i>
                        <p>Productos</p>
                    </a>
                </li>
                <li class="sidebar_items_list">
                    <a asp-controller="Roles" asp-action="Index" class="sidebar_nav_item">
                        <i class='bx bxs-conversation'></i>
                        <p>Roles</p>
                    </a>
                </li>
                <li class="sidebar_items_list">
                    <a asp-controller="Usuarios" asp-action="Index" class="sidebar_nav_item">
                        <i class='bx bx-task'></i>
                        <p>Usuarios</p>
                    </a>
                </li>
                <li class="sidebar_items_list">
                    <a asp-controller="Ventas" asp-action="Index" class="sidebar_nav_item">
                        <i class='bx bx-task'></i>
                        <p>Ventas</p>
                    </a>
                </li>
                <li class="sidebar_items_list_info">
                    <span>Extras</span>
                </li>
                <li class="sidebar_items_list">
                    <a href="#" class="sidebar_nav_item">
                        <i class='bx bx-layer'></i>
                        <p>Configuraciones</p>
                    </a>
                </li>
                <li class="sidebar_items_list">
                    <a asp-controller="Login" asp-action="Index" class="sidebar_nav_item">
                        <i class='bx bx-log-out'></i>
                        <p>Logout</p>
                    </a>
                </li>
            </ul>
            <div class="sidebar-toggle">
                <i class='bx bxs-chevron-left'></i>
                <p></p>
            </div>
        </div>
        <!---container-->
        <div class="container">
            
        </div>
    </div>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/Dashboard.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
