@model Proyecto_IDYGS81.Models.Usuarios
@{
    Layout = "_LayoutDashboard";
}
<div class="container">
<div class="container-fluid">
    <div class="offset-12">
        <div class="card border">
            <div class="card-header bg-dark">
                <h1 class="text-white"><strong>¿Estas seguro de eliminar esta usuario?</strong></h1>
            </div>
            <div class="card-body">
                <form asp-action="Eliminar" method="post">
                    <div class="form-group">
                        <label asp-for="Nombre" class="control-label"></label>
                        <input asp-for="Nombre" class="form-control" disabled />
                    </div>
                    <div class="form-group">
                        <label asp-for="Apellido" class="control-label"></label>
                        <input asp-for="Apellido" class="form-control" disabled />
                    </div>
                    <div class="form-group">
                        <label asp-for="Direccion" class="control-label"></label>
                        <input asp-for="Direccion" class="form-control" disabled />
                    </div>
                    <div class="form-group">
                        <label asp-for="Correo" class="control-label"></label>
                        <input asp-for="Correo" class="form-control" disabled />
                    </div>
                    <div class="form-group">
                        <label asp-for="Telefono" class="control-label"></label>
                        <input asp-for="Telefono" class="form-control" disabled />
                    </div>

                    <div class="form-group mt-3">
                        <button class="btn btn-secondary d-block mx-auto">Eliminar</button>
                    </div>

                </form>

                <a asp-controller="Usuarios" asp-action="Index">Volver</a>
            </div>

        </div>

    </div>
</div>
</div>