<!DOCTYPE html>
<html>

<head>
	<title>About us Page</title>
	<meta charset="UTF-8">
	<title>E-commerce</title>
	<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css'>
	<link rel="stylesheet" href="~/css/About.css">

</head>
<body>
	<nav class="navi">
		<h1>E-Commerce</h1>
		<ul>
			<li><a class="nava" asp-controller="Home" asp-action="Index">Home</a></li>
			<li><a class="nava" asp-controller="Home" asp-action="About">About</a></li>
			<li><a class="nava" asp-controller="Home" asp-action="Contact">Contact</a></li>
		</ul>
		<div class="sign_btn"><a  asp-controller="Login" asp-action="Index" class="nava">Sign in</a></div>

	</nav>
	<header>
	</header>
	<section class="background firstsection">
		<div class="box-main">
			<div class="firstHalf">
				<p class="text-big">Sobre nosotros</p>

				<p class="text-small">
					Nuestro propósito es democratizar el comercio y los servicios financieros para transformar la vida de millones de personas en la región.
A través del comercio electrónico, estamos democratizando la forma de comprar y vender, brindando igualdad de oportunidades a grandes y pequeños vendedores y haciendo más sencillos, seguros y eficientes todos los procesos.
				</p>
				<br>
				<p class="center">
					<a href="#Order"
					   style="text-decoration:none;color:white;">
						La empresa de tecnología líder en comercio electrónico y soluciones.

					</a>
				</p>
			</div>
		</div>
	</section>
	<section class="service">
		<h1 class="h-primary center" style="margin-top:30px;text-align:center;">
			Nuestro equipo
		</h1>
		<div id="services">
			<div class="box">
				<img src="~/img/user.png"
					 alt="picture goes here">

				<p class="center">
					<a href="#xyz" style="text-decoration:none;color:black;
		font-weight:bold;font-family: 'Langar', cursive;">
						Jessica Zapata
					</a>
				</p>
				<p style="font-family: sans-serif">Programador</p>
			</div>
			<div class="box">
				<img src="~/img/user.png"
					 alt="picture goes here">

				<p class="center">
					<a href="#xyz" style="text-decoration:none;color:black;
		font-weight:bold;font-family: 'Langar', cursive;">
						Antonio Caamal
					</a>
				</p>
				<p style="font-family: sans-serif">Programador</p>
			</div>
			<div class="box">
				<img src="~/img/user.png"
					 alt="picture goes here">

				<p class="center">
					<a href="#abc" style="text-decoration:none;color:black;
		font-weight:bold;font-family: 'Langar', cursive;">
						Bryan Garcia
					</a>
				</p>

				<p style="font-family: sans-serif ">Programador</p>
			</div>
			<div class="box">
				<img src="~/img/user.png"
					 alt="picture goes here">
				<br>
				<p class="center">
					<a href="#xyz" style="text-decoration:none;color:black;
		font-weight:bold;font-family: 'Langar', cursive;">
						Fernando Arias
					</a>
				</p>
				<p style="font-family: sans-serif ">Programador </p>

			</div>
			<div class="box">
				<img src="~/img/user.png"
					 alt="picture goes here">

				<p class="center">
					<a href="#xyz" style="text-decoration:none;color:black;
		font-weight:bold;font-family: 'Langar', cursive;">
						Emmanuel Batun
					</a>
				</p>
				<p style="font-family: sans-serif">Programador</p>
			</div>
		</div>

	</section>

	<footer class="background">
		<p class="text-footer">
			Copyright ©-All rights are reserved
		</p>

	</footer>
</body>

</html>

